TZ=Asia/Ho_Chi_Minh
NODE_OPTIONS="--max-old-space-size=4096"
REPLICAS=4
MAPPED_PORT=3023-3026

PORT=3023
MODE=development
SQL_DEBUG=true
APP_URL=http://localhost:3023
FE_APP_URL=http://localhost:3000
ADMIN_PASSWORD=

JWT_SECRET_KEY=
JWT_EXPIRATION=1d

DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=daimaru
DB_USER=postgres
DB_PASSWORD=
DB_POOL_SIZE=100

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
